html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scene {
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #307BE1;
  position: relative;
}
.scene .title {
  position: absolute;
  left: 20px;
  top: 20px;
  margin: 0;
  font-size: 50px;
  color: white;
  opacity: 0;
}
.scene .title .question {
  font-size: 35px;
  color: #FFC12C;
  margin: 0;
  display: none;
}

.person {
  position: relative;
}
.person .message {
  font-size: 20px;
  font-weight: bold;
  color: white;
  position: absolute;
  left: -200px;
  top: 50px;
  opacity: 0;
}
.person .hairs {
  position: relative;
}
.person .hairs .hair1 {
  width: 150px;
  height: 80px;
  border-radius: 40px;
  box-shadow: inset -10px -10px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-left: 10px;
}
.person .hairs .hair2 {
  width: 150px;
  height: 60px;
  border-radius: 30px;
  box-shadow: inset -10px -10px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-left: 50px;
  margin-top: -40px;
}
.person .hairs .hair3 {
  width: 150px;
  height: 70px;
  border-radius: 35px;
  box-shadow: inset -10px -10px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-left: 5px;
  margin-top: -45px;
}

.body {
  width: 210px;
  height: 120px;
  border-radius: 40px;
  padding-top: 50px;
  margin-top: -40px;
  background-color: #FFC12C;
  box-shadow: inset -10px -10px 0px rgba(0, 0, 0, 0.1);
}
.body .eyes .eye {
  width: 50px;
  height: 25px;
  border-radius: 12.5px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 15px;
  background-color: white;
}
.body .eyes .eye .eyeball {
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  background-color: #2F4A6E;
}
.body .mouth {
  width: 70px;
  height: 25px;
  border-radius: 12.5px;
  margin-top: 15px;
  margin-left: 70px;
  background-color: #F38A0C;
}
.body .mouth .food {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-left: -40px;
  background-color: #F38A0C;
}

.scene .title {
  transition: 0.5s;
}

.person {
  transition: 0.5s;
}
.person .body {
  transition: 0.5s, background-color 4s 1s;
}
.person .message {
  transition-delay: 0.5s;
}
.person * {
  transition: 0.5s;
}

.scene:hover .person {
  margin-top: 50px;
}
.scene:hover .person .body {
  box-shadow: inset -10px -10px 0px rgba(0, 0, 0, 0.1), 30px 10px rgba(0, 0, 0, 0.1);
}
.scene:hover .person:hover {
  transform: translateX(40px);
}
.scene:hover .person:hover .message {
  opacity: 1;
}
.scene:hover .person:hover .body {
  box-shadow: inset -10px -10px 0px rgba(0, 0, 0, 0.1), -30px 10px rgba(0, 0, 0, 0.1);
}
.scene:hover .person:hover .hairs .hair3 {
  margin-left: 0px;
}
.scene:hover .person:hover .body {
  background-color: #F38A0C;
}
.scene:hover .person:hover .eyes {
  transform: translateX(30px);
}
.scene:hover .person:hover .eyeball {
  transform: translateX(25px);
}
.scene:hover .person:hover .mouth {
  transform: translateX(20px);
}
.scene:hover .title {
  opacity: 1;
}

.scene:active .question {
  display: block;
}
.scene:active .person {
  transform: scale(0.9);
}
.scene:active .person .hairs {
  transform: translateY(-100px);
}